/* adamina-regular - latin */
/* abhaya-libre-regular - latin */
@font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/abhaya-libre-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Abhaya Libre Regular'), local('AbhayaLibre-Regular'),
         url('../fonts/abhaya-libre-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/abhaya-libre-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/abhaya-libre-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/abhaya-libre-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/abhaya-libre-v5-latin-regular.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
  /* abhaya-libre-500 - latin */
  @font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/abhaya-libre-v5-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Abhaya Libre Medium'), local('AbhayaLibre-Medium'),
         url('../fonts/abhaya-libre-v5-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/abhaya-libre-v5-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/abhaya-libre-v5-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/abhaya-libre-v5-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/abhaya-libre-v5-latin-500.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
body,html { 
    margin:0;
 padding:0;
    position: relative; 
}



#section1{
    height: 100vh;
    width: auto;
    background: #bf964b url('../img/image1.png') no-repeat center bottom;  
    background-attachment: scroll;
    background-size: cover;
    
    
}
#section2{
    height: 100vh;
    width: auto;
    background: #bf964b no-repeat center bottom;  
    background-attachment: scroll;
    background-size: cover;
    
    
}
#section3{
    height: 100vh;
    width: auto;
    background: #736c4d no-repeat center bottom;  
    background-attachment: scroll;
    background-size: cover;
    
    
}
#section5{
    height: 100vh;
    width: auto;
    background: #bf964b url('../img/image5.jpg') no-repeat center bottom;  
    background-attachment: scroll;
    background-size: cover;
    
    
}
#section6{
    height: 100vh;
    width: auto;
    background: #bf964b no-repeat center bottom;  
    background-attachment: scroll;
    background-size: cover;
    
    
}
#section1 .container{
    display: flex;
    width: 80%;
    height: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#section1 .row{
    margin-top: 2em;
    display: flex;
    flex: auto;
    justify-content:space-around;
    align-items:flex-end;
    flex-flow: row nowrap;
    
}
.percent{
    font-family: Abhaya Libre, serif;
    font-size:80px;
    color: white;
}
.justi{
    flex-direction:row;
}
#section1 h2{
    margin-block-start: 1em;
    margin-block-end: 0em;
}
#section1 button{
    width: 120px;
    height: 50px;
    background-color: white;
    border-color: transparent;
    font-size: 14pt;
    text-align: center;
}
#section2 .container{
    display: flex;
    width: 99%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
#section2 .row{
    display: flex;
    flex: auto;
    justify-content:flex-start;
    align-items:center;
    
}
#section2 .position {
    width: 100px;
	height: 100px;
}
#section2 img {
	width: 300px;
	height: 400px;
}

#section3 .container{
    display: flex;
    width: 80%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#section3 .row{
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items:center;
    
}

#section3 img {
	width: 300px;
	height: 300px;
}

#section6{
    height: 100vh;
    width: auto;
    background: #bf964b no-repeat center bottom;  
    background-attachment: scroll;
    background-size: cover;
    
    
}
#section7{
    height: 100vh;
    width: auto;  
    background: #736c4d no-repeat center bottom;  
    background-attachment: scroll;
    background-size: cover;
    
    
}
#maptest{
    display: flex;
    width: auto;
    height: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
}
#section4 .container{
    display: flex;
    width: 80%;
    height: 30%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#section4 .container1{
    display: flex;
    width:  auto;
    height: 20%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
}

#section4 .container2{
    display: flex;
    width:  auto;
    height: 60%;
    display: flex;
    flex: auto;
    justify-content:space-around;
    align-items:center;
}
#section4 .row{
    display: flex;
    flex: auto;
    justify-content:center;
    align-items:center;
    
}
#section4 .row1{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items:center;
    
}
#section4 .titre{
    justify-content: center;
    align-self: flex-start;
}
#section4 .position{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}
#section4 .position1{
    
    align-items: flex-start;
    
    
}
#section4 img {
	width: 200px;
	height: 200px;
}
#section4 .percent{
    font-family: Abhaya Libre, serif;
    font-size:80px;
    color: white;
}
#section4 h1{
    margin-block-start: 1em;
    margin-block-end: 0em;
}
#section4 h2{
    margin-block-start: 0em;
    margin-block-end: 2em;
}
#section4 button{
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 1em;
    border-color: transparent;
    font-size: 56pt;
}
#section6 .container{
    display: flex;
    width: 80%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#section6 .row{
    display:flex;
    
    justify-content:center;
    align-items:center;
    flex-direction: column;
    
}
@media only screen and (max-width : 360px) {
    #section2{
        height: 100vh;
        width: auto;
        background: #bf964b no-repeat center bottom;   
        background-attachment: scroll;
        background-size: cover;
        

        
    }
    #section4{
        height: 150vh;
        width: auto;
        background: #bf964b no-repeat center bottom;   
        background-attachment: scroll;
        background-size: cover;
        

        
    }
    #section1 .row{
        margin-top: 2em;
        display: flex;
        flex: auto;
        justify-content:space-around;
        align-items:center;
        flex-direction: column;
    }
    #section2 .row{
        margin-top: 2em;
        display: flex;
        flex: auto;
        justify-content:space-around;
        align-items:center;
        flex-direction: column;
    }
    #section3 .row{
        margin-top: 2em;
        display: flex;
        flex: auto;
        justify-content:space-around;
        align-items:center;
        flex-direction: column;
    }
    .percent{
        font-size:40px;
    }
    #section4 button{
        width: 200px;
        height: 50px;
        background-color: white;
        border-radius: 1em;
        border-color: transparent;
        font-size: 28pt;
    }
    #section4 .row{
        display: flex;
        flex: auto;
        justify-content:flex-start;
        align-items:flex-start;
        flex-direction: column;
    }
    #section4 .row1{
        display: flex;
        flex: auto;
        justify-content:flex-start;
        align-items:flex-start;
        flex-direction: column;
    }
    #section4 .percent{
        
        font-size:20px;
        
    }
    
    #section4 .container{
        display: flex;
        width: 80%;
        height: 10%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    #section4 .container1{
        display: flex;
        width:  auto;
        height: 60%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        justify-content: space-around;
        flex-direction: column;
    }
    #section4 .container2{
        display: flex;
        width:  auto;
        height: 30%;
        display: flex;
        flex: auto;
        justify-content:space-around;
        align-items:center;
    }

    #section6 .percent{
        
        font-size:20px;
        
    }
}